.Training {
  padding: 10px;
}
.Training > * {
  width: 50%;
  margin: auto;
}
@media (max-width: 1150px) {
  .Training > *,
  .lds-wrapper {
    width: 70% !important;
  }
}
@media (max-width: 767px) {
  .Training > *,
  .lds-wrapper {
    width: 90% !important;
  }
}
@media (max-width: 576px) {
  .Training > *,
  .lds-wrapper {
    width: 100% !important;
  }
}
